body{
    background-color: #FFC29F
}
#dp{
    background-image: url("img/me.jpg");
    float: left;
    position: absolute;
    left: 30px;
    top: 230px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    max-width: 150px;
    max-height: 150px; 
}
#header {
    background-image: url("img/header.jpg");
    height: auto;
    width: auto;
    opacity: 0.85;
    text-align:center;
    padding:15px;
    background-size: cover;

}
#nav {
    font-family:Courier New, Courier, monospace;
    line-height:30px;
    background-color: wheat;
    height:300px;
    width:180px;
    float:left;
    padding:5px;    
    text-align: center;
    font-weight: bold;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color: white;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#name{
    font-family: Arial, Helvetica, monospace;
    font-weight: lighter;
    color: white;
    size: 40px;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-top : 150px;
    text-align: center;
}
