body{
    background-color: darkgrey;
}
#header{ 
    background-color:grey;
    padding:5px;
    position: static;
    height: 500px;
    width:100%;
    align-items: right;
}
#nav {
    font-family:Courier New, Courier, monospace;
    position: absolute;
    position: fixed;
    background-color: darkgrey;
    height: 30px;
    width:100%;
    padding:5px;    
    font-weight: bold;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color: grey;
    color:darkgrey;
    clear:both;
    text-align:center;
    padding:5px;
}
#eat{
    font: 150px arial,sans-serif;
    font-weight:900;
    color: darkgrey;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-top : 90px;
    text-align: right;
}
#sleep{
    font: 150px arial,sans-serif;
    font-weight:900;
    color: darkgrey;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-top : -190px;
    text-align: right; 
}
#code{
    font: 150px arial,sans-serif;
    font-weight:900;
    color: white;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-top : -200px;
    text-align: right;
}
#dp{
max-width: 50%;
height: auto;
background:url(img/me.png) no-repeat center center fixed;
background-size: cover;
}