#dp{
    background-image: url("img/me.jpg");
    float: left;
    position: absolute;
    left: 30px;
    top: 230px;
    background-size: contain;
    background-repeat: no-repeat;
   height: 150px;
   width: 150px;
   max-width: 150px;
   max-height: 150px;
}
#header {
    background-image: url("img/header.jpg");
    text-align:center;
    padding:15px;
    background-size: cover;

}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;    
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color: white;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#name{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    size: 40px;
    letter-spacing: 4px;
    margin-bottom: 150px;
    margin-top : 150px;
    text-align: center;
}
