#header {
    background-image: url("img/header.jpg");
    text-align:center;
    padding:15px;
    background-size: cover;

}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;    
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color: white;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
#name{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: normal;
    letter-spacing: 3px;
    margin-bottom: 150px;
    margin-top : 150px;
    text-align: center;
}
