@font-face{
    font-family: junctionreg;
    src: url('../font/Junction-regular.otf');
}

@font-face{
    font-family: junctionb;
    src: url('../font/Junction-bold.otf')
}

body {
    background-color:rgba(255, 218, 185, 0.68);
}
#pagewrapper{
    max-width: 60%;
    margin-left: 175px;
    margin-right: 175px;
}
div#wrapperHeader {
    width: auto;
    height: 100px;
    text-align: center;
}

div#wrapperHeader div#header {
    top: 0;
    width: auto;
    height: 100;
    border-left: 50px;
    border-right: 50px;
}
/*p::first-letter { 
    font-size: 200%;
    color: #000000;
}*/
#dp {
    position: absolute;
    top: 320px;
    left: 185px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-size: 20px;
    width: auto;
    font-size: 15px;
}

#Bio {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-size: 10px;
    text-align: center;
    width: auto;
    resize: auto;
}
ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(255, 218, 185, 0.50);
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:rgba(255, 255, 255, 0.60);
}

.active {
    background-color: rgba(255, 255, 255, 0.80);
}

div.resume {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 280px;
}

div.resume p.des {
    line-height: 50px;
    font-family: junctionreg;
    font-size: 18px;
}

b {
    font-weight: 3000px;
}
