body{
    background-color: darkgrey;
}
#header{ 
    background-color:grey;
    padding:5px;
    position: static;
    height: 500px;
    width:100%;
    align-items: right;
}
#nav {
    font-family:Courier New, Courier, monospace;
    position: absolute;
    position: fixed;
    background-color: darkgrey;
    height: 50px;
    width:100%;
    padding:5px;    
    font-weight: bold;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color: grey;
    color:darkgrey;
    clear:both;
    text-align:center;
    padding:5px;
}
#dp{
position: absolute;
top: 110px;
left: 115px;
}
#name{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-size: 20px;
}
#Bio{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-size: 10px;
    text-align: center;
}
#footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}