body {
    background-color:rgba(255, 218, 185, 0.68);
}
#pagewrapper{
    margin-left: 175px;
    margin-right: 175px;
}
div#wrapperHeader {
    width: auto;
    height: 100px;
    text-align: center;
}

div#wrapperHeader div#header {
    top: 0;
    width: auto;
    height: 100;
    border-left: 50px;
    border-right: 50px;
}

#section {
   
    margin-top: 220px;
    margin-right: 50px;
    width: auto;
    float: right;
    padding: 5px;
    background-color: rgba(255, 215, 181, 0.33);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#intro{
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    background-color: grey;
    color: darkgrey;
    clear: both;
    text-align: center;
    padding: 5px;
}

#dp {
    position: absolute;
    top: 320px;
    left: 185px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#name {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10px;
    font-size: 20px;
    width: auto;
    font-size: 15px;
}

#Bio {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 10;
    font-size: 10px;
    text-align: center;
    width: auto;
    resize: auto;
}
ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgba(255, 218, 185, 0.50);
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:rgba(255, 255, 255, 0.60);
}

.active {
    background-color: rgba(255, 255, 255, 0.80);
}
